@use "sass.math";

@import '_settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-typography;

@include foundation-xy-grid-classes;
// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

body {
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
    .resume-name {
        font-weight: bold;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

.break-page {
    // Add "breakPage": true to elements to force a page break *before*.
    break-before: page;
}

#skills {
    .keywords {
        .keyword:not(:last-of-type)::after {
            content: ", ";
        }
    }
}

#work {
    .position-title {
        font-weight: bold;
        font-style: italic;
    }

    .company-name, .date {
        font-weight: bold;
    }

    .work-entry {
        break-inside: avoid-page;
        margin-top: 5px;
    }

    .work-entry:first-of-type {
        margin-top: 0;
    }
}

#education {
    break-inside: avoid-page;
    .item {
        margin-top: 5px;
    }

    .institution {
        font-weight: bold;
    }
}

section {
    margin-bottom: 2px;

    & > h2 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
}

@media print {
    body {
        margin: 25px 45px;
    }

    a {
        text-decoration: none;
    }
}
