{{#if resume.skills.length}}
<section id="skills">
	<h2>Skills</h2>
	{{#each resume.skills}}
    <div class="grid-x grid-margin-x">
        {{#if name}}
            <div class="name cell small-4 large-2">{{name}}</div>
        {{/if}}

        {{#if keywords.length}}
            <div class="keywords cell auto">
                {{#each keywords}}
                <span class="keyword">{{.}}</span>&nbsp;
                {{/each}}
            </div>
        {{/if}}
    </div>
	{{/each}}
</section>
{{/if}}